body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

#map {
    height: 70%;
}

#panel {
    padding: 20px;
}

#directions-panel {
    margin-top: 20px;
}

input {
    width: calc(100% - 22px);
    padding: 10px;
    margin: 5px 0;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}
